// Base
.content
  font-size 16px
  line-height: 1.5

@css {
  .post-content>*:first-child {
      margin-top: 0;
  }
}

// Links
.content
  a, .fake-link
    text-decoration none
    transition color .15s ease-in
    color $main-color
    &:hover
      opacity .5
      transition all .15s ease-in
