<x_partial_footer_ejs>
   <div class="fixed db w-100 tc tr-l bg-1 bottom-0">
      <a class="link dim f6 f5-l dib mr3 mr4-l white" href="/admin/datenschutzerklaerung.html"
         title="Datenschutzerklärung">
         Datenschutzerklärung
      </a>
      <a class="link dim f6 f5-l dib mr3 mr4-l white" href="/admin/impressum.html" title="Impressum">
         Impressum
      </a>
   </div>
</x_partial_footer_ejs>